.rmdb-watchlist{
    background-color: rgba(243, 46, 46, 0.8);
    outline: none;
    cursor: pointer;
    padding: 1rem;
    border: none;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    margin:.5rem;
  }
  
  .rmdb-watchlist:hover{
    filter: brightness(.9);
  }
  