.small-info{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
   
}

.small-info__details{
    margin-right: 1rem;
}

.small-info__details--text{
    font-size: 1rem;
}

.small-info__image{
    height: 100%;
}

.imgsmall{
    height:100%;
    width: 200px;
    object-fit: cover;
}