
.small-info__details{
    margin-right: 1rem;
}

.small-info__details--text{
    font-size: 1rem;
}

.small-info__image{

    margin: .65rem 2rem .5rem 1rem;
}

.imgsmall{
    height:85%;
    width: 200px;
    object-fit: contain;
    cursor: pointer;
}

h2{
    cursor: pointer;
}