.FilterBar{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1280px;
width: 100%;
margin: 3rem 0;
}

.FilterBar__categories-button{
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    background-color: rgba(243, 46, 46, 0.8);
    border: none;
    margin:.3rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .5rem;
    outline: none;
}

.FilterBar__categories-button:hover{
    filter: brightness(.8);
}