.watchlist-element{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color:rgba(100,100,100,.35);
}

.watchlist-element:hover{
    filter: brightness(.85);
    background-color: rgba(243, 46, 46, 0.8);
}

.watchlist-image{
    height: 4.5rem;
    width: 4.5rem;
    object-fit: unset;
}

.watchlist-image:hover{
    cursor: pointer;
}

.watchlist-title{
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: .35rem;
   
}

.watchlist-title:hover{
    cursor: pointer;
}

.watchlist-close{
    margin:0 .65rem;
}

.watchlist-close:hover{ cursor: pointer;}