.rmdb-home {
  /* padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.91) */
  width: 100%;
 
}


.rmdb-home-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.rmdb-home-component{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}