.container{
    margin:3rem auto;
    background-color: red;
}

.slick-next,
.slick-prev {
  top: 105px;
  color: initial !important;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  height: 210px;
  width: 35px;
  z-index: 1;
}

.slick-next:link,
.slick-next:hover,
.slick-next:active,
.slick-next:visited,
.slick-prev:link,
.slick-arrow,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:visited {
  background: rgba(0, 0, 0, 0.8);
}
.slick-slide.slick-current .h-carousel-item img {
  border: solid 2px #61dafb;
}
.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}

.slick-prev::before {
  content: "<";
  color: #61dafb;
  font-weight: 900;
  font-size: 25px;
}
.slick-next::before {
  content: ">";
  color: #61dafb;
  font-weight: 900;
  font-size: 25px;
}