.slick-slide,
.slick-active {
  border: none !important;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.truncate {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}
.truncate-small {
  width: 125px;
}

.slick-slide > * {
  margin-right: 9px;

}
.h-carousel-item:hover {
  transform: scale(1.25);
  z-index: 111;
}

.h-carousel-item img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.h-carousel-item figcaption {
  text-align: center;
  color: #626977;
  margin-top: 5px;
}
.slick-next,
.slick-prev {
  top: 125px;
  color: initial !important;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  height: 210px;
  width: 35px;
  z-index: 1;
}

.slick-next:link,
.slick-next:hover,
.slick-next:active,
.slick-next:visited,
.slick-prev:link,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:visited {
  background: rgba(0, 0, 0, 0.8);
}
.slick-slide.slick-current .h-carousel-item img{
  border: none;
}

.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}
.slick-prev::before {
  content: "<";
  font-weight: 900;
  font-size: 30px;
}
.slick-next::before {
  content: ">";
  font-weight: 900; 
  font-size: 30px;
}

.slick-slider.center.slick-initialized{
  width:80%;
  margin:auto;
}


