.slick-slide,
.slick-active {
  border: none !important;
  margin: 20px 0;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.truncate {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}
.truncate-small {
  width: 145px;
}

.slick-slide > * {
  margin-right: 9px;
}


.h-carousel-item:hover{
  transform: scale(1.2);
  z-index: 111;
  background-color: rgba(184, 167, 178, 0.1);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px,
   rgba(243, 46, 46, 0.8) 0 -10px 20px, red 0 -18px 40px, 5px 5px 24px 3px rgba(255,253,0,0);
}
.h-carousel-item img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}
.title{
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Abel', sans-serif;
}

.title:after {
  content: ""; 
  display: block;
  margin: 0 auto;
  width: 8%; 
  padding-top: 15px; 
  border-bottom: 1px solid rgba(243, 46, 46, 0.8); 
  
}
.h-carousel-item figcaption {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: 'Abel', sans-serif;
}
.slick-next,
.slick-prev {
  top: 155px;
  color: initial !important;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  height: 210px;
  width: 40px;
  z-index: 1;
}

.slick-next:link,
.slick-next:hover,
.slick-next:active,
.slick-next:visited,
.slick-prev:link,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:visited {
  background: rgba(243, 46, 46, 0.8);
}
.slick-slide.slick-current .h-carousel-item img{
  border: none;
}

.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}
.slick-prev::before {
  content: "<";
  font-weight: 900;
  font-size: 30px;
}
.slick-next::before {
  content: ">";
  font-weight: 900; 
  font-size: 30px;
}

.slick-slider.center.slick-initialized{
  width:80%;
  margin:auto;
}

.img{
  color:white;
  text-align: center;
}
