.rmdb-movie {
  padding-bottom: 100px;
  background-color: #1c1c1c;
  
}

.rmdb-movie-grid {
  max-width: 1280px;
  margin: 3rem auto;
  padding: 0 20px;
  color: black;
  font-family: 'Abel', sans-serif;
  font-size:1.3rem;
  color:#fff;
}

.rmdb-movie-details{
  display: flex;
  padding:3rem 0;
}

.trailer-holder{
  display: flex;
  flex-grow: 1;
  min-width: 60%;
}

.rmdb-movie-details__review{
  font-size: 1rem;
  color: #fff;
  padding-left:1rem;
  padding-top: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
}

h3{
  cursor: pointer;
}

.rmdb-movie-details__review--text{
 font-style: italic;
 font-size: 1.19rem;
 font-family: 'Abel', sans-serif;
 margin-top: 2rem;
 margin-right: 1rem;
}

.rmdb-movie-similar{
  width: 100%;
  height: 25rem;
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
}

.rmdb-movie-similar__left-side{
  width: 30rem;
  margin-right: 2rem;
  max-width: 30rem;
  display: grid;
  grid-template-columns: repeat(3,minmax(110px, 1fr));
  min-width: 30rem;
  grid-template-rows: 1fr 1fr;
  grid-row-gap:.8rem;
  grid-column-gap: .5rem;
  justify-items: center;
}